<!doctype html>
<html lang="en">
<head>
    <title>Document</title>
    {% load static %}
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    {% block load_files %}
    {% endblock %}
</head>
<body>
    <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="{%url 'home'%}" class="nav-link px-2 text-white"><h1>Onshop</h1></a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'search' %}" method="get">
          <input name="search_value" type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          <input type="submit" class="btn btn-warning" value="Search">
        </form>

        <div class="text-end">
            {% if request.user.is_authenticated %}
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'signout' %}" class="nav-link px-2 text-secondary">Sign-out!</a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'profile' %}" class="nav-link px-2 text-secondary">Profile</a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'create_product' %}" class="nav-link px-2 text-secondary">Add Product</a>
            {% else %}
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'signin' %}" class="nav-link px-2 text-secondary">Sign-in!</a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'signup' %}" class="nav-link px-2 text-secondary">Sign-up!</a>
            {% endif %}
        </div>
      </div>
    </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>